<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--.........................USUARIO.........................-->

  <filter>
      <filter-name>CorsFilter</filter-name>
      <filter-class>com.web.CORSFilter</filter-class>
  </filter>
  
  <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--...............GET...............-->
  <servlet>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>com.web.log.LoginUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/loginUsuario</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetUsuarioId</servlet-name>
    <servlet-class>com.web.log.GetUsuarioId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsuarioId</servlet-name>
    <url-pattern>/getUsuarioId</url-pattern>
  </servlet-mapping>


  <!--...............POST...............-->
  <servlet>
    <servlet-name>RegistroUsuario</servlet-name>
    <servlet-class>com.web.log.RegistroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroUsuario</servlet-name>
    <url-pattern>/registroUsuario</url-pattern>
  </servlet-mapping>


  <!--...............PUT...............-->
  <servlet>
    <servlet-name>PutUsuario</servlet-name>
    <servlet-class>com.web.log.PutUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutUsuario</servlet-name>
    <url-pattern>/putUsuario</url-pattern>
  </servlet-mapping>


  <!--...............DELETE...............-->
  <servlet>
    <servlet-name>DeleteUsuarioId</servlet-name>
    <servlet-class>com.web.log.DeleteUsuarioId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsuarioId</servlet-name>
    <url-pattern>/deleteUsuarioId</url-pattern>
  </servlet-mapping>



  <!--.........................EMPRESA.........................-->

  <!--...............GET...............-->
  <servlet>
    <servlet-name>LoginEmpresa</servlet-name>
    <servlet-class>com.web.log.LoginEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmpresa</servlet-name>
    <url-pattern>/loginEmpresa</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetEmpresaId</servlet-name>
    <servlet-class>com.web.log.GetEmpresaId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpresaId</servlet-name>
    <url-pattern>/getEmpresaId</url-pattern>
  </servlet-mapping>


  <!--...............POST...............-->
  <servlet>
    <servlet-name>RegistroEmpresa</servlet-name>
    <servlet-class>com.web.log.RegistroEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroEmpresa</servlet-name>
    <url-pattern>/registroEmpresa</url-pattern>
  </servlet-mapping>


  <!--...............PUT...............-->
  <servlet>
    <servlet-name>PutEmpresa</servlet-name>
    <servlet-class>com.web.log.PutEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutEmpresa</servlet-name>
    <url-pattern>/putEmpresa</url-pattern>
  </servlet-mapping>

  <!--...............DELETE...............-->
  <servlet>
    <servlet-name>DeleteEmpresaId</servlet-name>
    <servlet-class>com.web.log.DeleteEmpresaId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpresaId</servlet-name>
    <url-pattern>/deleteEmpresaId</url-pattern>
  </servlet-mapping>


  <!--.........................RETO.........................-->

  <!--...............GET...............-->
  <servlet>
    <servlet-name>GetRetos</servlet-name>
    <servlet-class>com.web.retos.GetRetos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetos</servlet-name>
    <url-pattern>/getRetos</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetRetoId</servlet-name>
    <servlet-class>com.web.retos.GetRetoId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetoId</servlet-name>
    <url-pattern>/getRetoId</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetRetosNivel</servlet-name>
    <servlet-class>com.web.retos.GetRetosNivel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetosNivel</servlet-name>
    <url-pattern>/getRetosNivel</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetRetosTecnologia</servlet-name>
    <servlet-class>com.web.retos.GetRetosTecnologia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetosTecnologia</servlet-name>
    <url-pattern>/getRetosTecnologia</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetRetosNombre</servlet-name>
    <servlet-class>com.web.retos.GetRetosNombre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetosNombre</servlet-name>
    <url-pattern>/getRetosNombre</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetRetosFechaLimite</servlet-name>
    <servlet-class>com.web.retos.GetRetosFechaLimite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRetosFechaLimite</servlet-name>
    <url-pattern>/getRetosFechaLimite</url-pattern>
  </servlet-mapping>


  <!--...............POST...............-->
  <servlet>
    <servlet-name>PostReto</servlet-name>
    <servlet-class>com.web.retos.PostReto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReto</servlet-name>
    <url-pattern>/postReto</url-pattern>
  </servlet-mapping>

  <!--...............PUT...............-->
  <servlet>
    <servlet-name>PutReto</servlet-name>
    <servlet-class>com.web.retos.PutReto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutReto</servlet-name>
    <url-pattern>/putReto</url-pattern>
  </servlet-mapping>

  <!--...............DELETE...............-->
  <servlet>
    <servlet-name>DeleteRetoId</servlet-name>
    <servlet-class>com.web.retos.DeleteRetoId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRetoId</servlet-name>
    <url-pattern>/deleteRetoId</url-pattern>
  </servlet-mapping>


  <!--.........................COMENTARIO.........................-->

  <!--...............GET...............-->

  <servlet>
    <servlet-name>GetComentariosPost</servlet-name>
    <servlet-class>com.web.comentarios.GetComentariosPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComentariosPost</servlet-name>
    <url-pattern>/getComentariosPost</url-pattern>
  </servlet-mapping>
  <servlet>

    <servlet-name>GetComentariosUsuario</servlet-name>
    <servlet-class>com.web.comentarios.GetComentariosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComentariosUsuario</servlet-name>
    <url-pattern>/getComentariosUsuario</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetComentariosEmpresa</servlet-name>
    <servlet-class>com.web.comentarios.GetComentariosEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComentariosEmpresa</servlet-name>
    <url-pattern>/getComentariosEmpresa</url-pattern>
  </servlet-mapping>


  <!--...............POST...............-->

  <servlet>
    <servlet-name>PostComentario</servlet-name>
    <servlet-class>com.web.comentarios.PostComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostComentario</servlet-name>
    <url-pattern>/postComentario</url-pattern>
  </servlet-mapping>

  <!--...............PUT...............-->

  
  <servlet>
    <servlet-name>PutComentario</servlet-name>
    <servlet-class>com.web.comentarios.PutComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutComentario</servlet-name>
    <url-pattern>/putComentario</url-pattern>
  </servlet-mapping>


  <!--...............DELETE...............-->

  <servlet>
    <servlet-name>DeleteComentario</servlet-name>
    <servlet-class>com.web.comentarios.DeleteComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComentario</servlet-name>
    <url-pattern>/deleteComentario</url-pattern>
  </servlet-mapping>

  <!--.........................POST / db.........................-->

  <!--...............GET...............-->

  <servlet>
    <servlet-name>GetPosts</servlet-name>
    <servlet-class>com.web.posts.GetPosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPosts</servlet-name>
    <url-pattern>/getPosts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetPostId</servlet-name>
    <servlet-class>com.web.posts.GetPostId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostId</servlet-name>
    <url-pattern>/getPostId</url-pattern>
  </servlet-mapping>

  <!--...............POST...............-->

  <servlet>
    <servlet-name>PostNewPost</servlet-name>
    <servlet-class>com.web.posts.PostNewPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostNewPost</servlet-name>
    <url-pattern>/postNewPost</url-pattern>
  </servlet-mapping>

  <!--...............PUT...............-->

  <servlet>
    <servlet-name>PutPost</servlet-name>
    <servlet-class>com.web.posts.PutPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutPost</servlet-name>
    <url-pattern>/putPost</url-pattern>
  </servlet-mapping>

  <!--...............DELETE...............-->

  <servlet>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>com.web.posts.DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/deletePost</url-pattern>
  </servlet-mapping>


  <!--.........................USUARIOS RETOS.........................-->

  <!--...............GET...............-->

  <servlet>
    <servlet-name>GetURUsuarios</servlet-name>
    <servlet-class>com.web.usuariosRetos.GetURUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetURUsuarios</servlet-name>
    <url-pattern>/getURUsuarios</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetURbyUsuario</servlet-name>
    <servlet-class>com.web.usuariosRetos.GetURbyUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetURbyUsuario</servlet-name>
    <url-pattern>/getURbyUsuario</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetURbyReto</servlet-name>
    <servlet-class>com.web.usuariosRetos.GetURbyReto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetURbyReto</servlet-name>
    <url-pattern>/getURbyReto</url-pattern>
  </servlet-mapping>


  <!--...............POST...............-->

  <servlet>
    <servlet-name>PostUR</servlet-name>
    <servlet-class>com.web.usuariosRetos.PostUR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostUR</servlet-name>
    <url-pattern>/postUR</url-pattern>
  </servlet-mapping>


  <!--...............PUT...............-->

  <servlet>
    <servlet-name>PutUR</servlet-name>
    <servlet-class>com.web.usuariosRetos.PutUR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutUR</servlet-name>
    <url-pattern>/putUR</url-pattern>
  </servlet-mapping>


  <!--...............DELETE...............-->


</web-app>
